<br><div class="footer" style="background-color: rgb(16, 16, 18); font-size: large;">
  <br>
  <div class="row" style="padding-left: 25px;">
    <div class="col" style="width: 500px; ">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: orangered; font-weight: bold;">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">Stories</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color: orangered; font-weight: bold;" href="#">PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">Electronics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">Mobile Phones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">Jwellery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">Cosmetics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">Accessories</a>
        </li>
      </ul>
    </div>
    <div class="col" >
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color: orangered; font-weight: bold;" href="#">HELP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">Customer support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">Payments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">Shipping</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">Cancellation & Returns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
  <br>  
  <div class="foot" style="display: inline-block; ">
      <div class="con" style="display: inline-block; vertical-align: middle; padding-left: 25px; ">
          <h1 style="color: white; padding: 0 25px 0;">Get in touch with us</h1>
          <br>
          <a routerLink="contactus"><button class="btn btn-warning" type="submit" style="padding: 10px 30px; margin-left: 70px; border-radius: 25px;">Contact Us</button></a>
        </div>
    
        <div class="form" style="display: inline-block; vertical-align: middle; padding-left: 300px;">
          <div class="mb-3" style="float: left;">
              <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
              <input type="name" class="form-control" style="background-color: grey;" id="exampleFormControlInput1" placeholder="Name">
            </div>
            <div class="mb-3" style="float: right; padding-left: 30px;">
              <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
              <input type="email" class="form-control" style="background-color: grey" id="exampleFormControlInput1" placeholder="Email"><br>
            </div> <br>
            <button type="submit" class="btn btn-primary" style="border-radius: 1.5rem;">Submit</button>
        </div>
  </div>
   <br> <br>
  <hr style="color: beige;">
  <br>
  <h6 style="color: white; text-align: center;">2023 © All rights reserved. popshop Pvt Ltd.  |  Legal Disclaimer  |  Disclaimer: Fraud Recuitment offers  |  A popshop Group Company </h6>
  <br>
  
</div>