<app-carousel></app-carousel>
<br>
<h3 class="head">Men's Collection</h3> <br>
  <div class="row row-cols-4 row-cols-md-4 g-4">
    <div class="col">
      <div class="card">
        <img src="../../../assets/men f.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Clothing</h5>
          <p class="card-text">Upto 70% off</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/men s.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Shoes</h5>
          <p class="card-text">Upto 80% off</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/men w.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Watches</h5>
          <p class="card-text">Upto 70% off</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/men a.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Accessories</h5>
          <p class="card-text">Upto 60% off</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <h3 class="head">Womens's Collection</h3> <br>
  <div class="row row-cols-4 row-cols-md-4 g-4">
    <div class="col">
      <div class="card">
        <img src="../../../assets/women c.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Clothing</h5>
          <p class="card-text">Upto 85% off</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/women j.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jwelery</h5>
          <p class="card-text">Upto 75% off</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/women h.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Handbags</h5>
          <p class="card-text">Upto 70% off</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/women a.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Accessories</h5>
          <p class="card-text">Upto 65% off</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <h3 class="head">Kid's Collection</h3> <br>
  <div class="row row-cols-4 row-cols-md-4 g-4">
    <div class="col">
      <div class="card">
        <img src="../../../assets/kids c.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Clothing</h5>
          <p class="card-text">Upto 75% off</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/kids s.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Shoes</h5>
          <p class="card-text">Upto 80% off</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/kids j.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Toys</h5>
          <p class="card-text">Upto 70% off</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/kids a.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Accessories</h5>
          <p class="card-text">Upto 50% off</p>
        </div>
      </div>
    </div>
  </div> <br>